<div  class="background scroll">
  <div class="transparent" *ngFor='let bin of bins;let i = index' >
    <div *ngIf='bin.Height'>
    <mat-grid-list cols="1" gutterSize="10px" rowHeight="50px">
    <mat-card class="examples-card1">
        <mat-card-header class="header">
          <mat-card-title class="mat-card-title1"> BIN NO : {{i+1}}</mat-card-title>
          <mat-card-subtitle></mat-card-subtitle>
        </mat-card-header>
      </mat-card></mat-grid-list>
<mat-grid-list cols="4" gutterSize="5px" rowHeight="500px">
  <mat-grid-tile>
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Amount Filled</mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
      </mat-card-header>
      <br>
      <mat-divider class="divider" [inset]=true></mat-divider>
      <mat-card-content>
          <mat-grid-list cols="2" gutterSize="10" rowHeight="300px">
              <mat-grid-tile>
          <p class="text-inside1">
            {{25-bin.Height}} cm</p></mat-grid-tile>
            <mat-grid-tile>
            <circle-progress [percent]="bin.Height<25?(25-bin.Height)/25*100:0" [radius]="50" [outerStrokeWidth]="16" [innerStrokeWidth]="8" [outerStrokeColor]="color(bin.Distance)"
              [innerStrokeColor]="'#C7E596'"   [titleFontSize] ="25" [unitsFontSize] = "25" [showSubtitle]="false" [animation]="true" [animationDuration]="300"></circle-progress></mat-grid-tile>
            </mat-grid-list>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image1"></div>
        <mat-card-title class="mat-card-title">Air Quality </mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
      </mat-card-header>
      <br>
      <mat-divider class="divider" [inset]=true></mat-divider>
      <mat-card-content>
          <p [class.green]="bin.AirQuality==='Healthy'" [class.red]="bin.AirQuality==='Bad'"class="text-inside">
              {{bin.AirQuality==='Healthy'?'HEALTHY':'HAZARDOUS'}}
            </p>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image2"></div>
          <mat-card-title class="mat-card-title">Location </mat-card-title>
          <mat-card-subtitle></mat-card-subtitle>
        </mat-card-header>
        <br>
        <mat-divider class="divider" [inset]=true></mat-divider>
        <mat-card-content><br><br>
                <agm-map [zoom]="16" [latitude]="bin.lat" [longitude]="bin.long">
                    <agm-marker [latitude]="bin.lat" [longitude]="bin.long">
                    <agm-info-window>
                        <strong>{{bin.Location}}</strong>
                      </agm-info-window></agm-marker>
                  </agm-map>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image3"></div>
            <mat-card-title class="mat-card-title">Last Collector </mat-card-title>
            <mat-card-subtitle></mat-card-subtitle>
          </mat-card-header>
          <br>
          <mat-divider class="divider" [inset]=false></mat-divider>
          <mat-card-content>
            <div *ngFor='let collector of collectors'>
            <div *ngIf='collector.Id===bin.Collector' class="collector">
              <p class="text-collector">
                  Name : {{collector.Name}}
              </p>
              <p class="text-collector">
                  Contact : {{collector.Contact}}
              </p>
              <p class="text-collector">
                  Age : {{collector.Age}}
              </p></div></div>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
</mat-grid-list>
<mat-divider class="divider" [inset]=false></mat-divider></div></div>
</div>